<!--Gurkirat Singh Khaira - #301112565 - 9 Oct 2020 -->

<div class="row">

<!--Divided page into 8:4 -->
<div class="col-sm-8">
<h1 class="text-center text-lg-left">Gurkirat Singh Khaira</h1>
<p>
	Hey, the image on the right side is me, Gurkirat Khaira. I am currently enrolled into Software Engineering Technology advanced diploma at Centennial College. 
	Basically, I am from India. Back home I did some programming and now I am familiar with various programming languages which includes C, C++, Java, C#, Python, Html, Javascript, MEAN (stack), etc.
    I spend my leisure time playing video games.
</p>

<!-- href for downloading the resume-->
<a class="text-center" href="assets\Resume.docx" download>My Resume</a>
</div>

<!--My image on about page-->
<div class="col-sm-4"><img class="rounded" src="assets\images\me.JPG" alt="profile image" width=178 height=240/></div>
</div>