  <!--Gurkirat Singh Khaira - #301112565 - 9 Oct 2020 -->
  
  <!--Footer bot nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights Reserved.</h6>
    </nav>
  </footer>