    <!--Gurkirat Singh Khaira - #301112565 - 9 Oct 2020 -->
    
    <!--mission statement-->
    <h3 class="display-5">Mission</h3>
    <p class="lead">Life is what you make it...</p>

    <h3 class="display-5">My Portfolio Website</h3>
    <p> This Personal Portfolio Website is created using ExpressJS and implemented using the EJS templating
        engine. It is hosted live on Heroku cloud service.
    </p>
		<ul>
			<li>Please visit <a href="about">About Me</a> page to know more about me.</li>
		</ul>
