<!--Gurkirat Singh Khaira - #301112565 - 9 Oct 2020 -->

<!--Here also the page is divided into ratio 4:8 with content on right side and images on left-->
<div class="row">

<!--image-->
<div class="col-sm-4"><img class="rounded center-block" src="assets\images\medicord.PNG" alt="profile image" width=290 height=203/></div>
<div class="col-sm-8">

<h1 class="text-center text-lg-left">Medicord</h1>
<p>
        There is Electronic Medical Records(EMR), which stores clients' medical records in Canada; however, since EMR
        is sometimes incomplete or people think it is difficult to access EMR, few Canadians are using this system. 
        To solve this problem, we developed system that will enable people to add and manage a medical record safely
        and quickly by receiving an EMR from the doctor. Additionally, people can fully understand their medical records, 
        which are explained with patient-friendly terms.Clients would simply have to request access from their doctor 
        and a code will come up which allows them to register/login into an account to access their medical records.
</p>
</div>
</div>

<hr class="my-4">
<div class="row">

<!--image-->
<div class="col-sm-4"><img class="rounded center-block" src="assets\images\pfr.jpg" alt="profile image" width=256 height=179/></div>
<div class="col-sm-8">
<h1 class="text-center text-lg-left">Facial Recognition Tech. based Attandance Software</h1>
<p>
	This project was based on making the requirements for developing the software that will use face recognition technology 
    to keep the record of attendance of the employees. The software will also use GPS to confirm the user’s position and collect 
    other necessary data. The software was intended to run on the android and IOs devices which used use the oracle database to store the data.

</p>
</div>
</div>