<!--Gurkirat Singh Khaira - #301112565 - 9 Oct 2020 -->

<!-- using col property page is divided into ratio 6:6-->
<div class="row">
<div class="col-sm-6">
    <h3 class="display-5">Have knowledge of various programming languages and Technologies:</h3>
<ul>
			<li>C</li>
			<li>C++</li>
			<li>C#</li>
			<li>Java</li>
			<li>Python</li>
			<li>HTML</li>
            <li>CSS</li>
			<li>Javascript</li>
			<li>Bootstrap4</li>
			<li>MongoDB</li>
			<li>Expressjs</li>
			<li>AngularJS</li>
            <li>Node.js</li>
			<li>GitHub</li>
			<li>Oracle SQL</li>
			<li>Unix/Linux</li>
		</ul>

</div>
<div class="col-sm-6"><img class="rounded" src="assets\images\service.png" alt="profile image" width=485 height=256/></div>
</div>
